:root {
  /* Colores */
  --color-background: #466158;
  --color-primary: #da5151;
  --color-accent: #E21B23;
  --color-accent-alt: #FFD700;
  --color-text: #FFFFFF;
  --color-text-secondary: #B3B3B3;
  --color-white: #FFFFFF;
  --color-border: #2D2D2D;
  --color-error: #FF3333;
  --color-success: #2ECC71;
  
  /* Tipografía */
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
}

#root {
  width: 100%;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

